@use '../scss/variables' as vars;
@import './reset.scss';
@import '../scss/header';
@import '../scss/fonts';
@import '../scss/first';
@import '../scss/blockTwo';
@import '../scss/howItWorks';
@import '../scss/autoBUsiness';
@import '../scss/banksIntegration';
@import '../scss/forWhom';
@import '../scss/cases';
@import '../scss/tariffs';
@import '../scss/comingSoon';
@import '../scss/security';
@import '../scss/footer';



.container {
  max-width: 1098px;
  width: 100%;
  margin: 0 auto;
  font-family: AvenirNext;
  @media (vars.$md) {
    max-width: 639px;
  }
  @media (vars.$sm) {
    max-width: none;
    padding-left: 21px;
    padding-right: 21px;
  }
}
.background{
  z-index: -100;
  position: absolute;
  top: 2295px;
}
.map {
  display: none;
}
@media (vars.$md) {
.carousel {
  display: flex;
  overflow: hidden;
  &__content{
    display: flex;
    transition: all .5s ease-in-out;
  }
}
.map {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  & > button {
    all: unset;
    
    background: white;
    border: 1px solid #B2EEFC;
    cursor: pointer;
    margin-right: 14px;
    user-select: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;

    &.active {
      background: linear-gradient(180deg, #1792C7 0%, #00B8F0 100%);
      
    }
  }
}

}