@use '../scss/variables' as vars;
@import '../scss/header';
@import '../scss/fonts';
@import '../scss/first';
@import '../scss/blockTwo';
@import '../scss/howItWorks';
@import '../scss/autoBUsiness';
@import '../scss/banksIntegration';
@import '../scss/forWhom';
@import '../scss/cases';
@import '../scss/tariffs';
@import '../scss/comingSoon';
@import '../scss/security';
@import '../scss/footer';



.container {
  max-width: 1098px;
  width: 100%;
  margin: 0 auto;
  font-family: AvenirNext;
  @media (vars.$md) {
    max-width: 639px;
  }
  @media (vars.$sm) {
    max-width: none;
    padding-left: 21px;
    padding-right: 21px;
  }
}