@font-face {
  font-family: 'AvenirNext';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/AvenirNextCyr-Regular.woff') format('woff');
}
@font-face {
  font-family: 'AvenirNext';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/AvenirNextCyr-Medium.woff') format('woff');
}
@font-face {
  font-family: 'AvenirNext';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/AvenirNextCyr-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/montserrat-medium.woff') format('woff');
}

.container {
  max-width: 1098px;
  width: 100%;
  margin: 0 auto;
  font-family: AvenirNext;
  @media (max-width: 768px) {
    max-width: 639px;
  }
  @media (max-width: 320px) {
    max-width: none;
    padding-left: 21px;
    padding-right: 21px;
  }
}

.header {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  #menu__toggle {
    opacity: 0;
  }
  .hamburger-menu {
    display: none;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: relative;

    width: 27px;
    height: 13px;
    cursor: pointer;
    z-index: 1;
  }
  /* добавляем "гамбургер" */

  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3.54px;
    background-color: #1399cf;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  nav,
  ul {
    display: flex;
    list-style: none;
    font-size: 14px;
    justify-content: space-between;
  }
  nav {
    li {
      cursor: pointer;
      margin-right: 39px;
    }
  }

  button {
    cursor: pointer;
    font-size: inherit;
    background: none;
  }

  &__lang {
    display: flex;
  }

  &__lang button {
    margin-right: 12px;
    font-size: 16px;

    border: none;
  }

  &__lang .active {
    color: #1792c7;
    text-decoration: underline;
  }

  &__connect {
    height: 48px;
    color: #1792c7;
    border: #1792c7 1px solid;
    border-radius: 24px;
    padding: 13px 28px;
  }

  @media (max-width: 768px) {
    nav,
    .header__lang,
    .header__connect {
      display: none;
    }
    .hamburger-menu {
      display: block;
    }
  }
}

.first {
  overflow: visible;
  margin-top: 91px;
  display: flex;
  flex-direction: row;
  &__left,
  &__right {
    width: 50%;
  }

  h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.9859458804130554px;
    text-align: left;
    color: #2d3238;
  }
  h5 {
    margin: 0;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.4430769979953766px;
    text-align: left;
  }

  &__email {
    margin-top: 48px;
    height: 48px;
    width: 440px;
    position: relative;

    input {
      background-color: #f3f9ff;
      padding-left: 20px;
      padding-top: 12px;
      padding-bottom: 12px;
      height: 100%;
      width: 100%;
      border: none;
      border-radius: 24px;
      outline: none;
    }

    button {
      background: linear-gradient(#1792c7, #00b8f0);
      cursor: pointer;
      color: #fff;
      position: absolute;
      border: none;
      border-radius: 24px;
      padding: 12px 53px;
      right: 0;
      top: 0;
      bottom: 0;
      font-family: inherit;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.4430769979953766px;
      text-align: center;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    &__left {
      width: 100%;
    }

    &__right {
      margin-top: 109px;
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
    }
    h1 {
      font-size: 48px;
      font-weight: 700;
      line-height: 54px;
      letter-spacing: 0.9859458804130554px;
      text-align: center;
      color: #2d3238;
    }

    h5 {
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0.4430769979953766px;
      text-align: center;
    }
    &__email {
      margin-top: 48px;
      height: 48px;
      width: 100%;
      position: relative;

      input {
        background-color: #f3f9ff;
        padding-left: 20px;
        padding-top: 12px;
        padding-bottom: 12px;
        height: 100%;
        width: 100%;
        border: none;
        border-radius: 24px;
        outline: none;
      }

      button {
        background: linear-gradient(#1792c7, #00b8f0);
        cursor: pointer;
        color: #fff;
        position: absolute;
        border: none;
        border-radius: 24px;
        padding: 12px 53px;
        right: 0;
        top: 0;
        bottom: 0;
        font-family: inherit;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.4430769979953766px;
        text-align: center;
      }
    }
  }

  @media (max-width: 320px) {
    h1 {
      font-size: 32px;
      font-weight: 700;
      line-height: 38px;
      letter-spacing: 0.9859458804130554px;
      text-align: center;
      color: #2d3238;
    }

    h5 {
      font-size: 16px;
      margin-top: 12px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.4430769979953766px;
      text-align: center;
    }
    &__email {
      display: none;
    }
  }
}

.blockTwo {
  margin-top: 235px;
  display: flex;
  height: 325;
  justify-content: end;
  &__right {
    width: 50%;
  }
  &__left {
    width: 50%;
  }

  h1 {
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.4399999976158142px;
    text-align: left;
    color: #2d3238;
  }
  h5 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.4430769979953766px;
    text-align: left;
  }

  @media (max-width: 768px) {
    margin-top: 118px;
    flex-direction: column-reverse;
    &__right,
    &__left {
      width: 100%;
    }
  }
  @media (max-width: 320px) {
    h5 {
      margin-top: 12px;
    }
    &__left {
      margin-top: 22px;
    }
  }
}

.howItWorks {
  margin-top: 160px;
  h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.9859458804130554px;
    text-align: left;
    color: #2d3238;
  }

  &__blocks {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h5 {
      margin: 0;
      margin-top: 13px;
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0.4430769979953766px;
      text-align: center;
    }
  }

  @media (max-width: 768px) {
    margin-top: 130px;
    h1 {
      text-align: center;
    }
    &__block {
      max-width: 200px;
    }
  }
  @media (max-width: 320px) {
    margin-top: 92px;
    &__blocks {
      flex-direction: column;
      align-items: center;
    }
    &__block {
      margin-top: 40px;
      h5 {
        margin-top: 10px;
      }
    }
  }
}

.autoBusiness {
  display: flex;
  margin-top: 140px;
  background-color: #3898fe30;
  background-image: url('../assets/img/Mask\ GroupAuto.svg');
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 94px;
  padding-right: 94px;

  &__left {
    width: 50%;
  }
  &__right {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.9859458804130554px;
    text-align: left;
    color: #2d3238;
  }
  h5 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.4430769979953766px;
    text-align: left;
  }
  &__email {
    margin-top: 60px;
    height: 48px;
    width: 440px;
    position: relative;

    input {
      background-color: #f3f9ff;
      padding-left: 20px;
      padding-top: 12px;
      padding-bottom: 12px;
      height: 100%;
      width: 100%;
      border: none;
      border-radius: 24px;
      outline: none;
    }

    button {
      background: linear-gradient(#1792c7, #00b8f0);
      cursor: pointer;
      color: #fff;
      position: absolute;
      border: none;
      border-radius: 24px;
      padding: 12px 53px;
      right: 0;
      top: 0;
      bottom: 0;
      font-family: inherit;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.4430769979953766px;
      text-align: center;
    }
  }

  @media (max-width: 768px) {
    margin-top: 130px;
    flex-direction: column;
    h1,
    h5 {
      text-align: center;
    }

    &__left,
    &__right {
      width: 100%;
    }
    &__right {
      margin-top: 24px;
    }

    &__email {
      margin-top: 48px;
    }
  }
  @media (max-width: 320px) {
    padding-left: 21px;
    padding-right: 21px;
    margin-left: -60px;
    margin-right: -60px;
    h1 {
      font-size: 28px;
    }
    &__email {
      width: 100%;
    }
  }
}

.banksIntegration {
  margin-top: 140px;
  h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.9859458804130554px;
    text-align: left;
    color: #2d3238;
  }
  ul {
    list-style: none;
  }

  .blocks {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    h5 {
      color: #3898fe80;
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0.4430769979953766px;
      text-align: left;
    }
    div {
      border: 1px solid #3898fe30;
      width: 534px;
      padding-left: 40px;
    }
  }

  &__left {
    .banks {
      border-bottom: 1.08px solid #3898fe30;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        width: 50%;
        height: 76.08px;
        background-repeat: no-repeat;
        background-position-y: center;
      }
      #tochka {
        background-image: url('../assets/img/точка.svg');
      }
      #tinkoff {
        background-image: url('../assets/img/тинькофф.svg');
      }
      #module {
        background-image: url('../assets/img/модуль.svg');
      }
      #download1c {
        background-image: url('../assets/img/Звгрузка\ из\ 1С.svg');
      }
    }
  }

  &__right {
    ul {
      padding: 0;
    }
    li {
      display: flex;
      h6 {
        margin: 0;
        font-size: 18px;
        font-weight: 400;
        line-height: 75px;
        letter-spacing: 0.4430769979953766px;
        text-align: left;
      }
      height: 72.85px;
    }
  }

  @media (max-width: 768px) {
    margin-top: 110px;
    h1 {
      text-align: center;
    }

    .blocks {
      margin-top: 70px;
      flex-direction: column;
      align-items: center;
    }

    &__left {
      margin-bottom: 40px;
    }
  }
  @media (max-width: 320px) {
    margin-top: 140px;
    .blocks {
      margin-top: 40px;
      div {
        width: 100%;
        padding-left: 0px;
      }
      h5 {
        margin-left: 16px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
    li {
      h6 {
        font-size: 15px;
      }
    }
  }
}

.forWhom {
  margin-top: 160px;
  h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.9859458804130554px;
    text-align: left;
    color: #2d3238;
  }
  .blocks {
    margin-top: 90px;
    display: flex;
    justify-content: space-around;
  }
  .block {
    display: flex;
    flex-direction: column;

    height: 356px;
    width: 345px;
    padding-left: 54px;
    padding-right: 54px;
    background-repeat: no-repeat;
    background-position-x: center;
    h5 {
      font-size: 22px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0.4399999976158142px;
      text-align: left;
      color: #2d3238;

      margin-top: 200px;
      margin-bottom: 0;
    }
    p {
      margin-top: 12px;
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0.4430769979953766px;
      text-align: left;
    }
  }
  #smallBusiness {
    background-image: url('../assets/img/smallBusiness.svg');
  }
  #startup {
    background-image: url('../assets/img/startup.svg');
  }
  #developer {
    background-image: url('../assets/img/developer.svg');
  }

  @media (max-width: 768px) {
    margin-top: 110px;
    h1 {
      text-align: center;
    }

    .blocks {
      margin-top: 70px;
      justify-content: space-between;
    }

    .block {
      padding: 0;
      max-width: 200px;
    }
  }

  @media (max-width: 320px) {
    .blocks {
      flex-direction: column;
      align-items: center;
    }
    .block {
      margin-bottom: 30px;
    }
    .block h5,
    .block p {
      text-align: center;
    }
  }
}

.cases {
  margin-top: 190px;
  h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.9859458804130554px;
    text-align: left;
    color: #2d3238;
  }
  .blocks {
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
  }
  .block {
    border: 1px solid rgba(56, 152, 254, 0.187528);
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 346px;
    height: 297px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 19px;
    background-repeat: no-repeat;
    background-position-x: 24px;
    background-position-y: 30px;

    h5 {
      font-size: 22px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0.4399999976158142px;
      text-align: left;
      color: #2d3238;
    }
    a {
      cursor: pointer;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.36923089623451233px;
      text-align: left;
      color: #1792c7;
    }
    span {
      display: flex;
      align-items: center;
      .arrows {
        width: 10px;
        height: 10px;
        border-bottom: 1px solid #1792c7;
        border-left: 1px solid #1792c7;
        transform: rotate(-135deg);
      }
    }
  }
  .block.active {
    background-color: #f3f9ff;
    border: none;
    border-bottom: 3px solid #1792c7;
  }
  #case1 {
    background-image: url('../assets/img/case1.svg');
  }
  #case2 {
    background-image: url('../assets/img/case2.svg');
  }
  #case3 {
    background-image: url('../assets/img/case3.svg');
  }
  @media (max-width: 768px) {
    margin-top: 110px;
    h1 {
      text-align: center;
    }

    .blocks {
      margin-top: 70px;
      display: block;
    }

    .block {
      width: 310px;
    }
  }
  @media (max-width: 320px) {
    margin-top: 135px;
  }
}

.tariffs {
  margin-top: 91px;
  h1 {
    display: none;
  }
  &__email {
    margin-top: 48px;
    height: 48px;
    width: 440px;
    position: relative;

    input {
      background-color: #f3f9ff;
      padding-left: 20px;
      padding-top: 12px;
      padding-bottom: 12px;
      height: 100%;
      width: 100%;
      border: none;
      border-radius: 24px;
      outline: none;
    }

    button {
      background: linear-gradient(#1792c7, #00b8f0);
      cursor: pointer;
      color: #fff;
      position: absolute;
      border: none;
      border-radius: 24px;
      padding: 12px 53px;
      right: 0;
      top: 0;
      bottom: 0;
      font-family: inherit;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.4430769979953766px;
      text-align: center;
    }
  }

  &__content {
    display: flex;
  }
  &__email {
    display: none;
  }
  &__left {
    width: 497px;
    .tariffs__email {
      display: block;
    }
    h1 {
      display: block;
    }
  }

  h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.9859458804130554px;
    text-align: left;
    color: #2d3238;
  }
  h5 {
    margin: 0;
    margin-top: 28px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.4430769979953766px;
    text-align: left;
  }

  @media (max-width: 768px) {
    margin-top: 110px;
    display: block;

    &__content {
      display: flex;
      margin-top: 70px;
    }
    h1 {
      text-align: center;
      width: 100%;
      display: block;
    }

    h5 {
      width: 383px;
    }

    &__left {
      width: 100%;
      h1 {
        display: none;
      }
      .tariffs__email {
        display: none;
      }
    }

    &__email {
      display: flex;
      margin: 42px auto 0;
    }
  }
  @media (max-width: 320px) {
    h1 {
      display: none;
    }
    h5 {
      margin-top: 40px;
    }
    &__content {
      flex-direction: column-reverse;
    }
    &__left {
      margin-top: 46px;
      h1 {
        display: block;
      }
    }
    &__email {
      width: 100%;
    }
  }
}

.comingSoon {
  margin-top: 160px;
  h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.9859458804130554px;
    text-align: left;
    color: #2d3238;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 90px;
    li {
      display: flex;
      padding-bottom: 50px;
      border-bottom: 1px solid #1792c7;
      margin-bottom: 50px;
      .name {
        display: block;
        width: 50%;
        padding-right: 50px;
        h2 {
          font-size: 28px;
          font-weight: 500;
          line-height: 36px;
          letter-spacing: 0.4399999976158142px;
          text-align: left;
          color: #2d3238;
          margin: 0;
        }
      }
      .desc::before {
        content: '';
        position: absolute;
        left: 21px;
        width: 3px;
        height: 43px;
        background: linear-gradient(180deg, #00b8f0 0%, #00b8f0 0.01%, #b2eefc 73.96%);
        transform: rotate(90deg);
      }
      .desc {
        display: block;
        position: relative;
        width: 50%;
        padding-left: 58px;
        margin: 0;
        h5 {
          margin: 0;
          font-size: 18px;
          font-weight: 400;
          line-height: 28px;
          letter-spacing: 0.4430769979953766px;
          text-align: left;
          color: #2d3238;
        }
        .imgs {
          margin: 0;
          margin-top: 18.22px;
          display: flex;
          div {
            margin: 0;
          }
        }
        #bitrix {
          background-image: url('../assets/img/comingSoon1.svg');
          width: 54.47px;
          height: 32.36px;
          margin-right: 19.28px;
        }
        #amoCRM {
          background-image: url('../assets/img/comingSoon2.svg');
          width: 111.25px;
          height: 23.73px;
        }
      }
    }
    :last-child {
      margin-bottom: 0;
    }
  }
  h5 {
    margin: 0;
    margin-top: 40px;
    text-align: center;
    color: #2d3238;
  }

  @media (max-width: 768px) {
    margin-top: 110px;
    h1 {
      text-align: center;
    }
    ul {
      margin-top: 70px;
      li {
        flex-direction: column;
        padding-bottom: 32px;
        margin-bottom: 32px;
        .name,
        .desc {
          width: 100%;
        }
        .name {
          h2 {
            text-align: center;
          }
        }
        .desc {
          margin-top: 22px;
        }
      }
    }
    h5 {
      margin-top: 32px;
      font-size: 22px;
    }
  }
  @media (max-width: 320px) {
    margin-top: 96px;
    ul {
      li {
        padding-bottom: 30px;
        margin-bottom: 30px;
        .name {
          padding-left: 58px;
          h2 {
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.4399999976158142px;
            text-align: left;
          }
        }
        .desc {
          h5 {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.4430769979953766px;
            text-align: left;
          }
        }
      }
    }
    h5 {
      margin-top: 30px;
      font-size: 18px;
    }
  }
}

.security {
  margin-top: 160px;
  display: flex;
  flex-direction: row;
  justify-content: end;

  background-repeat: no-repeat;
  h1 {
    display: none;
  }
  .security__content {
    display: flex;
  }
  &__left,
  &__right {
    width: 50%;
  }
  &__right {
    h1 {
      display: block;
      margin: 0;
      margin-top: 35px;
      font-size: 40px;
      font-weight: 700;
      line-height: 46px;
      letter-spacing: 0.9859458804130554px;
      text-align: left;
      color: #2d3238;
    }
    h5 {
      margin: 0;
      margin-top: 28px;
      font-size: 24px;
      font-weight: 400;
      line-height: 34px;
      letter-spacing: 0.7138460874557495px;
      text-align: left;
      color: #2d3238;
    }
  }

  @media (max-width: 768px) {
    margin-top: 110px;
    display: block;
    .security__content {
      display: flex;
      margin-top: 70px;
    }

    h1 {
      text-align: center;
      width: 100%;
      display: block;
    }
    &__right {
      margin-left: 20px;
      h1 {
        display: none;
      }
      h5 {
        margin: 0;
        font-size: 18px;
      }
    }
  }
  @media (max-width: 320px) {
    h1 {
      display: none;
    }
    h5 {
      margin-top: 40px;
    }
    &__content {
      flex-direction: column;
    }
    &__left {
      width: 100%;
    }
    &__right {
      width: 100%;
      margin: 0;
      margin-top: 40px;
      h1 {
        text-align: center;
        display: block;
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: 0.9859458804130554px;
        text-align: center;
      }
      h5 {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.4430769979953766px;
        text-align: left;
      }
    }
    &__email {
      width: 100%;
    }
  }
}

.footer {
  margin-top: 126px;
  background-color: #f3f9ff;
  .container {
    padding-top: 79.58px;
    h1 {
      margin: 0;
      width: 100%;
      font-size: 40px;
      font-weight: 700;
      line-height: 46px;
      letter-spacing: 0.9859458804130554px;
      text-align: left;
      color: #2d3238;
    }

    padding-bottom: 114px;
  }
  &__content {
    margin-top: 32.44px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__left {
    width: 50%;
    position: relative;

    h5 {
      margin: 0;
      margin-top: 28px;

      font-size: 24px;
      font-weight: 400;
      line-height: 34px;
      letter-spacing: 0.7138460874557495px;
      text-align: left;
    }
    .footer__email_label {
      margin-top: 18px;
      color: rgba(56, 152, 254, 0.3);
    }
    .footer__email {
      font-size: 24px;
      font-weight: 400;
      line-height: 34px;
      letter-spacing: 0.7138460874557495px;
      text-align: left;
    }
  }
  &__right {
    width: 50%;
  }
  .footer__form {
    input,
    textarea {
      background-color: #fff;
      padding-left: 20px;
      padding-top: 12px;
      padding-bottom: 12px;
      border: 1px solid #3898fe66;
      border-radius: 24px;
      outline: none;
      margin-bottom: 20px;
      width: 100%;
      resize: none;
    }
    input::placeholder,
    textarea::placeholder {
      color: #1792c7;
    }
    button {
      background: linear-gradient(#1792c7, #00b8f0);
      cursor: pointer;
      color: #fff;
      border: none;
      border-radius: 24px;
      padding: 12px 53px;
      font-family: inherit;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.4430769979953766px;
      text-align: center;
    }
  }
  &__info {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .footer__copy {
      font-family: 'Montserrat';
      font-size: 8px;
      font-weight: 500;
      line-height: 10px;
      letter-spacing: 0px;
      text-align: left;
    }
    a {
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0.4430769979953766px;
      text-align: left;
      color: #00b8f0;
      cursor: pointer;
    }
  }

  @media (max-width: 768px) {
    margin-top: 110px;
    display: block;
    .container {
      padding-top: 70px;
      h1 {
        text-align: center;
      }
      .footer__content {
        margin: 0;
        flex-direction: column;
        align-items: center;
        .footer__left,
        .footer__right {
          width: 100%;
        }
        .footer__left {
          h5 {
            margin-top: 40px;
            text-align: center;
          }
          .footer__email_label {
            margin-top: 24px;
            text-align: center;
          }
          .footer__email {
            text-align: center;
          }
        }
        .footer__right {
          margin-top: 70px;
        }
      }
    }
  }

  @media (max-width: 320px) {
    margin-top: 33px;
    .container {
      padding-top: 70px;
      h1 {
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: 0.9859458804130554px;
        text-align: center;
      }
    }
    &__left {
      h5 {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.4430769979953766px;
        text-align: center;
      }
      .footer__email_label,
      .footer__email {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.4430769979953766px;
        text-align: center;
      }
    }
    &__info {
      flex-direction: column-reverse;
      align-items: center;
      a {
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.4430769979953766px;
        text-align: left;
      }
    }
    &__copy {
      margin-top: 15px;
      font-size: 8px;
      font-weight: 500;
      line-height: 10px;
      letter-spacing: 0px;
      text-align: left;
    }
  }
}
