block autoBusiness
    section.autoBusiness
        .autoBusiness__left
            h1 Автоматизируйте бизнес-процессы
        .autoBusiness__right
            h5 Подключайте привычные приложения, которые вы используете в работе.
            form(method="post",onsubmit="event.preventDefault();").autoBusiness__email#emailForm
                div.completedMsg 
                    img(src="../assets/img/galka.svg", alt="")
                    span Проверьте e-mail!
                input(type="email",placeholder="Введите email",name="email",required )
                button(type="submit") Узнать