block autoBusiness
    .autoBusiness
        h1 Автоматизируйте бизнес-процессы
        .autoBusiness__right
            h5 Подключайте привычные приложения, которые вы используете в работе.
            .autoBusiness__email
                    input(type="email",placeholder="Введите email" )
                    button Узнать