block banksIntegration 
    .banksIntegration
        h1 Банки и интеграции
        .blocks
            .banksIntegration__left
                h5 Банки
                ul.banks
                    li#tochka
                    li#tinkoff
                    li#module
                ul
                    li#download1c
            .banksIntegration__right
                h5 Интеграции
                ul 
                    li#pushNotify Push-web уведомления
                    li#emailNotify E-mail уведомления
                    li#telegramNotify Telegram
