block banksIntegration 
    .banksIntegration
        h1 Банки и интеграции
        .blocks
            .banksIntegration__left
                h5 Банки
                ul.banks
                    li#tochka
                    li#tinkoff
                    li#module
                ul
                    li#download1c
            .banksIntegration__right
                h5 Интеграции
                ul 
                    li 
                        img(src="../assets/img/pushNotify.svg", alt="")
                        h6 Push-web уведомления
                    li 
                        img(src="../assets/img/emailNotify.svg", alt="")
                        h6 E-mail уведомления
                    li
                        img(src="../assets/img/telegramNotify.svg", alt="")
                        h6 Telegram
