block blockTwo 
    .blockTwo
        .blockTwo__right 
            h1 Мы предлагаем вам простой инструмент, чтобы автоматизировать информирование о поступающих оплатах.
            h5 Бухгалтер на карантине, а директор недоступен? Ответственный сотрудник моментально узнает о поступлении денег на счет компании.
