block blockTwo 
    section.blockTwo
        .blockTwo__left 
            img(src="", alt="", srcset="../assets/img/Chat.svg")
        .blockTwo__right 
            h1.blockTwo__title Мы предлагаем вам простой инструмент, чтобы автоматизировать информирование о поступающих оплатах.
            h5.blockTwo__subtitle Бухгалтер на карантине, а директор недоступен? Ответственный сотрудник моментально узнает о поступлении денег на счет компании.
