block cases
    .cases
        h1 Кейсы
        .blocks 
            .block.active#case1
                h5 Автоматизация диджитал-агентства
                span
                    a Читать кейс
                    span.arrows
            .block#case2
                h5 Приём платежей в рекламной медиа-группе
                span
                    a Читать кейс
                    span.arrows
            .block#case3
                h5 Оптимизация бухгалтерии в производственной компании
                span
                    a Читать кейс
                    span.arrows