block comingSoon 
    section.comingSoon 
        h1 Скоро появится
        ul 
            li
                .name
                    h2 Интеграции с CRM-системами Битрикс 24 и amoCRM
                .desc
                    h5 Интегрируйте уведомления о платежах прямо в вашу CRM, в которой работают ваши сотрудники
                    .imgs 
                        #bitrix
                        #amoCRM
            li
                .name
                    h2 Открытое API Everypay
                .desc
                    h5 Подключайте свои системы и интегрируйте уведомления о поступающих платежах самостоятельно с помощью простого API Everypay
            li
                .name
                    h2 Автоматическое создание платежек
                .desc
                    h5 Загрузите скан счета на оплату в нашу систему и в банк-клиенте автоматически будет создано платежное поручение на основании данных из счета. С помощью технологий компьютерного зрения и машинного обучения мы достигаем высокой точности и скорости работы
        h5 И еще 17 нововведений