block first
    .first 
        .first__left
            h1 Не пропускайте важные оплаты
            h5 Если от них зависят ваши проекты или старт рекламных кампаний
            .first__email
                input(type="email",placeholder="Введите email" )
                button Узнать