mixin blockSection(title,subtitle,bgn)
    section.first
        .container
            .first__left
                h1= title
                h5= subtitle
                form(method="post",onsubmit="event.preventDefault();").first__email#emailForm
                    div.completedMsg 
                        img(src="../assets/img/galka.svg", alt="")
                        span Проверьте e-mail!
                    input(type="email",placeholder="Введите email",name="email",required)
                    button(type="submit") Узнать
            .first__right
                img(src=bgn)