mixin blockSection(title,subtitle,bgn)
    .first
        .container
            .first__left
                h1= title
                h5= subtitle
                .first__email
                    input(type="email",placeholder="Введите email" )
                    button Узнать
            .first__right
                img(src=bgn)