block footer
    footer.footer
        .container
            h1 Подключиться
            .footer__content
                .footer__left
                    h5 Хотите начать пользоваться системой? Напишите нам.
                    p.footer__email_label email
                    p.footer__email hello@everypay.io
                    
                .footer__right
                    form(method="post",onsubmit="event.preventDefault();").footer__form#footer__form
                        input(type="text", placeholder='Ваше имя*', required)
                        input(type="email", placeholder='Email*', required)
                        textarea( placeholder='Расскажите о своей компании*', required)
                        button(type="submit") Подключиться
            .footer__info
                span.footer__copy © 2020, Everypay
                a Политика конфиденциальности
    #myModal.modal
        .modal-content
            p Спасибо! Мы приняли ваш запрос.В ближайшее время наш специалист поддержки свяжется с вами.
        