block forWhom
    .forWhom#forWhom
        h1 Для кого
        .blocks 
            .block#smallBusiness 
                h5 Малый бизнес
                p Скорость получения информации о платежах и минимизация издержек
            .block#startup 
                h5 Стартапы
                p Автоматизация бизнес-процессов и бухгалтерской рутины
            .block#developer 
                h5 Разработчики
                p Быстрое внедрение своих приложений для малого бизнеса и стартапов