block forWhom
    section.forWhom#forWhom
        h1.forWhom__title Для кого
        .blocks 
            .block#smallBusiness 
                h5.block__title Малый бизнес
                p.block__content Скорость получения информации о платежах и минимизация издержек
            .block#startup 
                h5.block__title Стартапы
                p.block__content Автоматизация бизнес-процессов и бухгалтерской рутины
            .block#developer 
                h5.block__title Разработчики
                p.block__content Быстрое внедрение своих приложений для малого бизнеса и стартапов