block howItWorks
    section.howItWorks#howItWorks
        h1.howItWorks__title Как это работает
        .howItWorks-blocks 
            .howItWorks-block 
                img(src="../assets/img/howItWorks1.svg", alt="").howItWorks-block__img
                h5.howItWorks-block__title Подключите свой банковский счет
            .howItWorks-block
                img(src="../assets/img/howItWorks2.svg", alt="").howItWorks-block__img
                h5.howItWorks-block__title Выберите, куда и кому отправлять информацию
            .howItWorks-block
                img(src="../assets/img/howItWorks3.svg", alt="").howItWorks-block__img
                h5.howItWorks-block__title Получайте информацию о поступивших оплатах