mixin howItWorks(bgn1,bgn2,bgn3)
    .howItWorks
        h1 Как это работает
        .howItWorks__blocks 
            .howItWorks__block(style=`background-image: url(${bgn1});`)
                h5 Подключите свой банковский счет
            .howItWorks__block(style=`background-image: url(${bgn2});`)
                h5 Выберите, куда и кому отправлять информацию
            .howItWorks__block(style=`background-image: url(${bgn3});`)
                h5 Получайте информацию о поступивших оплатах