block security 
    section.security#security 
        h1.security__title Безопасность
        .security__content 
            .security__left 
                img(src="../assets/img/security.svg", alt="").security__img
            .security__right
                h1.security__title Безопасность
                h5.security__subtitle Использование Everypay полностью безопасно: подключение к банковскому счету осуществляется в режиме «только для получения выписок», а хранение информации в системе защищено и деперсонализировано.