block security 
    .security 
        .security__right
            h1 Безопасность
            h5 Использование Everypay полностью безопасно: подключение к банковскому счету осуществляется в режиме «только для получения выписок», а хранение информации в системе защищено и деперсонализировано.