block tariffs 
    section.tariffs#tariffs
        h1 Тарифы
        .tariffs__content
            .tariffs__left
                h1 Тарифы
                h5 Everypay находится в стадии закрытого beta-теста, но у вас есть возможность присоединиться к тестированию сервиса.
                h5 Для компаний, участвующих в тестировании, сервис  навсегда бесплатен. Напишите нам и мы с вами свяжемся.
                form(method="post",onsubmit="event.preventDefault();").tariffs__email#emailForm
                    div.completedMsg 
                        img(src="../assets/img/galka.svg", alt="")
                        span Проверьте e-mail!
                    input(type="email",placeholder="Введите email",name="email",required  )
                    button(type="submit") Узнать

                    
            .tariffs__right 
                img(src="../assets/img/Рубль.svg", alt="")
        .tariffs__email
                    input(type="email",placeholder="Введите email" )
                    button Узнать