extends main.pug

include ./blocks/header.pug
include ./blocks/first.pug
include ./blocks/blockTwo.pug
include ./blocks/howItWorks.pug
include ./blocks/autoBusiness.pug
include ./blocks/banksIntegration.pug
include ./blocks/forWhom.pug
include ./blocks/cases.pug
include ./blocks/tariffs.pug
include ./blocks/comingSoon.pug
include ./blocks/security.pug



