@font-face {
  font-family: 'AvenirNext';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/AvenirNextCyr-Regular.woff') format('woff');
}
@font-face {
  font-family: 'AvenirNext';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/AvenirNextCyr-Medium.woff') format('woff');
}
@font-face {
  font-family: 'AvenirNext';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/AvenirNextCyr-Bold.woff') format('woff');
}

.container {
  max-width: 1098px;
  width: 100%;
  margin: 0 auto;
  font-family: AvenirNext;
}

.header {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  nav,
  ul {
    display: flex;
    list-style: none;
    font-size: 14px;
    justify-content: space-between;
  }
  nav {
    li {
      cursor: pointer;
      margin-right: 39px;
    }
  }

  button {
    cursor: pointer;
    font-size: inherit;
    background: none;
  }

  &__lang {
    display: flex;
  }

  &__lang button {
    margin-right: 12px;
    font-size: 16px;

    border: none;
  }

  &__lang .active {
    color: #1792c7;
    text-decoration: underline;
  }

  &__connect {
    height: 48px;
    color: #1792c7;
    border: #1792c7 1px solid;
    border-radius: 24px;
    padding: 13px 28px;
  }
}

.first {
  overflow: visible;
  margin-top: 91px;
  background-image: url('./assets/img/money.svg');
  background-position-x: right;
  background-repeat: no-repeat;
  &__left {
    width: 497px;
  }

  h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.9859458804130554px;
    text-align: left;
    color: #2d3238;
  }
  h5 {
    margin: 0;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.4430769979953766px;
    text-align: left;
  }

  &__email {
    margin-top: 48px;
    height: 48px;
    width: 440px;
    position: relative;

    input {
      background-color: #f3f9ff;
      padding-left: 20px;
      padding-top: 12px;
      padding-bottom: 12px;
      height: 100%;
      width: 100%;
      border: none;
      border-radius: 24px;
      outline: none;
    }

    button {
      background: linear-gradient(#1792c7, #00b8f0);
      cursor: pointer;
      color: #fff;
      position: absolute;
      border: none;
      border-radius: 24px;
      padding: 12px 53px;
      right: 0;
      top: 0;
      bottom: 0;
      font-family: inherit;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.4430769979953766px;
      text-align: center;
    }
  }
}

.blockTwo {
  margin-top: 235px;
  display: flex;
  height: 325;
  justify-content: end;
  background-image: url('./assets/img/Chat.svg');
  background-position-x: left;
  background-repeat: no-repeat;
  &__right {
    width: 534px;
  }

  h1 {
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.4399999976158142px;
    text-align: left;
    color: #2d3238;
  }
  h5 {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.4430769979953766px;
    text-align: left;
  }
}

.howItWorks {
  h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.9859458804130554px;
    text-align: left;
    color: #2d3238;
  }

  &__blocks {
    display: flex;
  }

  &__block {
    background-position-x: center;
    background-repeat: no-repeat;
    margin-top: 90px;
    display: flex;
    align-items: end;
    width: 346px;
    height: 237px;
    h5 {
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0.4430769979953766px;
      text-align: center;
    }
  }
}

.autoBusiness {
  display: flex;
  background-color: #3898fe30;
  background-image: url('./assets/img/Mask\ GroupAuto.svg');
  padding-top: 59px;
  padding-bottom: 60px;
  padding-left: 94px;
  padding-right: 94px;

  &__right {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.9859458804130554px;
    text-align: left;
    color: #2d3238;
  }
  h5 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.4430769979953766px;
    text-align: left;
  }
  &__email {
    margin-top: 60px;
    height: 48px;
    width: 440px;
    position: relative;

    input {
      background-color: #f3f9ff;
      padding-left: 20px;
      padding-top: 12px;
      padding-bottom: 12px;
      height: 100%;
      width: 100%;
      border: none;
      border-radius: 24px;
      outline: none;
    }

    button {
      background: linear-gradient(#1792c7, #00b8f0);
      cursor: pointer;
      color: #fff;
      position: absolute;
      border: none;
      border-radius: 24px;
      padding: 12px 53px;
      right: 0;
      top: 0;
      bottom: 0;
      font-family: inherit;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.4430769979953766px;
      text-align: center;
    }
  }
}

.banksIntegration {
  margin-top: 140px;
  h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.9859458804130554px;
    text-align: left;
    color: #2d3238;
  }
  ul {
    list-style: none;
  }

  .blocks {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    h5 {
      color: #3898fe80;
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0.4430769979953766px;
      text-align: left;
    }
    div {
      border: 1px solid #3898fe30;
      width: 534px;
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  &__left {
    .banks {
      border-bottom: 1.08px solid #3898fe30;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        width: 50%;
        height: 76.08px;
        background-repeat: no-repeat;
        background-position-y: center;
      }
      #tochka {
        background-image: url('./assets/img/точка.svg');
      }
      #tinkoff {
        background-image: url('./assets/img/тинькофф.svg');
      }
      #module {
        background-image: url('./assets/img/модуль.svg');
      }
      #download1c {
        background-image: url('./assets/img/Звгрузка\ из\ 1С.svg');
      }
    }
  }

  &__right {
    ul {
      padding: 0;
    }
    li {
      font-size: 18px;
      font-weight: 400;
      line-height: 75px;
      letter-spacing: 0.4430769979953766px;
      text-align: left;
      height: 72.85px;
      padding-left: 80px;
      background-repeat: no-repeat;
      background-position-y: center;
    }
    #pushNotify {
      background-image: url('./assets/img/pushNotify.svg');
    }
    #emailNotify {
      background-image: url('./assets/img/emailNotify.svg');
    }
    #telegramNotify {
      background-image: url('./assets/img/telegramNotify.svg');
    }
  }
}

.forWhom {
  margin-top: 160px;
  h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.9859458804130554px;
    text-align: left;
    color: #2d3238;
  }
  .blocks {
    margin-top: 90px;
    display: flex;
    justify-content: space-around;
  }
  .block {
    display: flex;
    flex-direction: column;

    height: 356px;
    width: 345px;
    padding-left: 54px;
    padding-right: 54px;
    background-repeat: no-repeat;
    background-position-x: center;
    h5 {
      font-size: 22px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0.4399999976158142px;
      text-align: left;
      color: #2d3238;

      margin-top: 200px;
      margin-bottom: 0;
    }
    p {
      margin-top: 12px;
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0.4430769979953766px;
      text-align: left;
    }
  }
  #smallBusiness {
    background-image: url('./assets/img/smallBusiness.svg');
  }
  #startup {
    background-image: url('./assets/img/startup.svg');
  }
  #developer {
    background-image: url('./assets/img/developer.svg');
  }
}

.cases {
  margin-top: 189px;
  h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.9859458804130554px;
    text-align: left;
    color: #2d3238;
  }
  .blocks {
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
  }
  .block {
    border: 1px solid rgba(56, 152, 254, 0.187528);
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 346px;
    height: 297px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 19px;
    background-repeat: no-repeat;
    background-position-x: 24px;
    background-position-y: 30px;

    h5 {
      font-size: 22px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0.4399999976158142px;
      text-align: left;
      color: #2d3238;
    }
    a {
      cursor: pointer;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.36923089623451233px;
      text-align: left;
      color: #1792c7;
    }
    span {
      display: flex;
      align-items: center;
      .arrows {
        width: 10px;
        height: 10px;
        border-bottom: 1px solid #1792c7;
        border-left: 1px solid #1792c7;
        transform: rotate(-135deg);
      }
    }
  }
  .block.active {
    background-color: #f3f9ff;
    border: none;
    border-bottom: 3px solid #1792c7;
  }
  #case1 {
    background-image: url('./assets/img/case1.svg');
  }
  #case2 {
    background-image: url('./assets/img/case2.svg');
  }
  #case3 {
    background-image: url('./assets/img/case3.svg');
  }
}

.tariffs {
  overflow: visible;
  margin-top: 91px;
  background-image: url('./assets/img/Рубль.svg');
  background-position-x: right;
  background-repeat: no-repeat;
  &__left {
    width: 497px;
  }

  h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.9859458804130554px;
    text-align: left;
    color: #2d3238;
  }
  h5 {
    margin: 0;
    margin-top: 28px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.4430769979953766px;
    text-align: left;
  }

  &__email {
    margin-top: 48px;
    height: 48px;
    width: 440px;
    position: relative;

    input {
      background-color: #f3f9ff;
      padding-left: 20px;
      padding-top: 12px;
      padding-bottom: 12px;
      height: 100%;
      width: 100%;
      border: none;
      border-radius: 24px;
      outline: none;
    }

    button {
      background: linear-gradient(#1792c7, #00b8f0);
      cursor: pointer;
      color: #fff;
      position: absolute;
      border: none;
      border-radius: 24px;
      padding: 12px 53px;
      right: 0;
      top: 0;
      bottom: 0;
      font-family: inherit;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.4430769979953766px;
      text-align: center;
    }
  }
}

.comingSoon {
  margin-top: 160px;
  h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.9859458804130554px;
    text-align: left;
    color: #2d3238;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 90px;
    li {
      display: flex;
      padding-bottom: 50px;
      border-bottom: 1px solid #1792C7;
      margin-bottom: 50px;
      .name{
        display: block;
        width: 50%;
        padding-right: 50px;
        h2 {
          font-size: 28px;
          font-weight: 500;
          line-height: 36px;
          letter-spacing: 0.4399999976158142px;
          text-align: left;
          color: #2d3238;
          margin: 0;
        }
      }
      .desc::before{
        content: '';
        position: absolute;
        left: 21px;
        width: 3px;
        height: 43px;
        background: linear-gradient(180deg, #00B8F0 0%, #00B8F0 0.01%, #B2EEFC 73.96%);
        transform: rotate(90deg);
      }
      .desc{
        display: block;
        position: relative;
        width: 50%;
        padding-left: 58px;
        margin: 0;
        h5 {
          margin: 0; 
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0.4430769979953766px;
            text-align: left;
            color: #2d3238;
        }
        .imgs{
          margin: 0;
          margin-top: 18.22px;
          display: flex;
          div{
            margin: 0;
          }
          
        }
        #bitrix{
          background-image: url('./assets/img/comingSoon1.svg');
          width: 54.47px;
          height: 32.36px;
          margin-right: 19.28px;
        }
        #amoCRM{
          background-image: url('./assets/img/comingSoon2.svg');
          width: 111.25px;
          height: 23.73px;
        }
      }
      
    }
    :last-child{
      margin-bottom: 0;
    }
  }
  h5{
    margin: 0;
    margin-top: 40px;
    text-align: center;
    color: #2d3238;
  }
}
