
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        .container
            block header

            +blockSection('Не пропускайте важные оплаты',
            'Если от них зависят ваши проекты или старт рекламных кампаний',
            './assets/img/money.svg')

            +blockSection('Сократите издержки на бухгалтерию и коммуникации',
            'Получайте информацию о платежах на счет компании там, где вам удобно',
            './assets/img/secondBgn.svg')

            +blockSection('Создавайте собственные сценарии действий',
            'при поступлении денег на счет вашей компании',
            './assets/img/thirdBgn.svg')

            +blockSection('Реагируйте на платежи так быстро, как они поступают на ваш счет',
            '',
            './assets/img/fourthBgn.svg')

            block blockTwo
            +howItWorks('./assets/img/howItWorks1.svg',
            './assets/img/howItWorks2.svg',
            './assets/img/howItWorks3.svg')
            block autoBusiness
            block banksIntegration
            block forWhom


            +blockSection('Тарифы',
            'Everypay находится в стадии закрытого beta-теста, но у вас есть возможность присоединиться к тестированию сервиса. Для компаний, участвующих в тестировании, сервис  навсегда бесплатен. Напишите нам и мы с вами свяжемся.',
            './assets/img/рубль.svg')
            
            
            
    script(src='./main.js')