.integrations {
  border: 1px solid #3898fe30;
  padding-left: 40px;
  width: 100%;
  &__title {
    color: #3898fe80;
    font-size: 18px;
    font-weight: 400;
    
    letter-spacing: 0.4430769979953766px;
    text-align: left;
  }
  &__item {
    display: flex;
    align-items: center;
    &-title {
      margin: 0;
      font-size: 18px;
      font-weight: 400;
      line-height: 75px;
      letter-spacing: 0.4430769979953766px;
      text-align: left;
    }
    height: 72.85px;
  }
  @media (vars.$sm) {
    &__title{
      margin-left: 16px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    &__item {
      &-img{
        width: 40px;
        height: 40px;
      }
      &-title {
      font-size: 15px;
    }
  }
  }
}

.banks{
  border: 1px solid #3898fe30;
  width: 100%;
  padding-left: 40px;

  &__title {
    color: #3898fe80;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.4430769979953766px;
    text-align: left;
  }
  
  &__list {
    border-bottom: 1.08px solid #3898fe30;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  &__item {
    width: 50%;
    height: 76.08px;
    background-repeat: no-repeat;
    background-position-y: center;
  }
  @media (vars.$sm) {
    &__title{
      margin-left: 16px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

.banksIntegration {
  margin-top: 140px;
  &__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.9859458804130554px;
    text-align: left;
    color: #2d3238;
  }

  .blocks {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    width: 534px;
  }

  &__right {
    display: flex;
    width: 534px;
    ul {
      padding: 0;
    }
  }

  @media (vars.$md) {
    margin-top: 110px;
    &__title  {
      text-align: center;
    }

    .blocks {
      margin-top: 70px;
      flex-direction: column;
      align-items: center;
      .banksIntegration__left,
      .banksIntegration__right {
        width: 100%;
      }
    }

    &__left {
      margin-bottom: 40px;
    }
  }
  @media (vars.$sm) {
    margin-top: 140px;
    .blocks {
      margin-top: 40px;
      .banksIntegration__left,
      .banksIntegration__right {
        padding-left: 0px;
      }
    }
    
  }
}
