.first {
  overflow: visible;
  margin-top: 91px;
  display: flex;
  flex-direction: row;
  &__left,
  &__right {
    width: 50%;
  }
  .container{
      display: flex;
  }
  h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.9859458804130554px;
    text-align: left;
    color: #2d3238;
  }
  h5 {
    margin: 0;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.4430769979953766px;
    text-align: left;
  }

  &__email {
    z-index: -1;
    margin-top: 48px;
    height: 48px;
    width: 440px;
    position: relative;

    input {
      background-color: vars.$ligntCyan;
      padding-left: 20px;
      padding-top: 12px;
      padding-bottom: 12px;
      height: 100%;
      width: 100%;
      border: none;
      border-radius: 24px;
      outline: none;
    }

    button {
      background: linear-gradient(vars.$blue, vars.$cyan);
      cursor: pointer;
      color: vars.$white;
      position: absolute;
      border: none;
      border-radius: 24px;
      padding: 12px 53px;
      right: 0;
      top: 0;
      bottom: 0;
      font-family: inherit;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.4430769979953766px;
      text-align: center;
    }
  }

  @media (vars.$md) {
    width: 100vw;  
    .container{

    width: 100vw;
    flex-direction: column;
    }
    &__left {
      width: 100%;
    }

    &__right {
      margin-top: 109px;
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
    }
    h1 {
      font-size: 48px;
      font-weight: 700;
      line-height: 54px;
      letter-spacing: 0.9859458804130554px;
      text-align: center;
      color: #2d3238;
    }

    h5 {
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0.4430769979953766px;
      text-align: center;
    }
    &__email {
      margin-top: 48px;
      height: 48px;
      width: 100%;
      position: relative;

      input {
        background-color: vars.$ligntCyan;
        padding-left: 20px;
        padding-top: 12px;
        padding-bottom: 12px;
        height: 100%;
        width: 100%;
        border: none;
        border-radius: 24px;
        outline: none;
      }

      button {
        background: linear-gradient(vars.$blue, vars.$cyan);
        cursor: pointer;
        color: vars.$white;
        position: absolute;
        border: none;
        border-radius: 24px;
        padding: 12px 53px;
        right: 0;
        top: 0;
        bottom: 0;
        font-family: inherit;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.4430769979953766px;
        text-align: center;
      }
    }
  }

  @media (vars.$sm) {
    h1 {
      font-size: 32px;
      font-weight: 700;
      line-height: 38px;
      letter-spacing: 0.9859458804130554px;
      text-align: center;
      color: #2d3238;
    }

    h5 {
      font-size: 16px;
      margin-top: 12px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.4430769979953766px;
      text-align: center;
    }
    &__email {
      display: none;
    }
  }
}
