.first {
  overflow: visible;
  margin-top: 91px;
  display: flex;
  flex-direction: row;
  &__left,
  &__right {
    width: 50%;
  }
  .container {
    display: flex;
  }
  &__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.9859458804130554px;
    text-align: left;
    color: #2d3238;
  }
  &__subtitle {
    margin: 0;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.4430769979953766px;
    text-align: left;
  }

  .form-email {
    z-index: 0;
    margin-top: 48px;
    height: 48px;
    width: 440px;
    border-radius: 24px;
    display: flex;
    background-color: vars.$ligntCyan;

    &__completedMsg {
      display: none;
      width: 100%;
      text-align: center;
      justify-content: center;
      align-items: center;
      img {
        margin-right: 16px;
      }
    }
    &__input {
      background-color: vars.$ligntCyan;
      text-overflow: ellipsis;
      overflow: hidden;
      border-radius: 24px 0 0 24px;
      padding-left: 20px;
      padding-top: 12px;
      padding-bottom: 12px;
      height: 100%;
      width: 100%;
      border: none;
      outline: none;
    }
    &__button:hover {
      box-shadow: 0px 6px 18px rgba(53, 152, 254, 0.38185);
    }

    &__button {
      transition: all 0.5s ease-in-out;
      background: linear-gradient(vars.$blue, vars.$cyan);
      cursor: pointer;
      color: vars.$white;

      border: none;
      border-radius: 24px;
      padding: 12px 53px;

      font-family: inherit;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.4430769979953766px;
      text-align: center;
    }
  }

  @media (vars.$md) {
    width: 100vw;
    .container {
      width: 100vw;
      flex-direction: column;
    }
    &__left {
      width: 100%;
    }

    &__right {
      margin-top: 109px;
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
    }
    &__title {
      font-size: 48px;
      line-height: 54px;
      letter-spacing: 0.9859458804130554px;
      text-align: center;
      color: #2d3238;
    }

    &__subtitle {
      font-size: 18px;
      line-height: 28px;
      text-align: center;
    }
    .form-email {
      margin-top: 48px;
      height: 48px;
      width: 100%;
      position: relative;
    }
  }

  @media (vars.$sm) {
    &__title {
      font-size: 32px;
      line-height: 38px;
      letter-spacing: 0.9859458804130554px;
      color: #2d3238;
    }

    &__subtitle {
      font-size: 16px;
      margin-top: 12px;
      line-height: 24px;
    }
    .form-email {
      display: none;
    }
  }
}
