.header {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    img{
        z-index: 100;
    }

    a{
        transition: all .5s ease-in-out;
        text-decoration: none;
        color: #2D3238;
    }
    a:hover{
        color: #1792C7;
    }
    #menu__toggle {
      opacity: 0;
    }
    .hamburger-menu {
      display: none;
      z-index: 10;
    }
  
    .menu__btn {
      display: flex;
      align-items: center;
      position: relative;
  
      width: 27px;
      height: 13px;
      cursor: pointer;
      z-index: 1;
    }
    /* добавляем "гамбургер" */
  
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 3.54px;
      background-color: #1399cf;
    }
    .menu__btn > span::before {
      content: '';
      top: -8px;
    }
    .menu__btn > span::after {
      content: '';
      top: 8px;
    }

    .menu__box {
        overflow: auto;
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        padding-top: 200px;
        left: 0;
        right: 0;
        bottom: 0;   
        margin: 0;
        
        list-style: none;
        text-align: center;
        background-color: vars.$white;
        li{
            button{
                margin: 0 auto;
                margin-top: 36px;
        background: linear-gradient(vars.$blue, vars.$cyan);
        cursor: pointer;
        color: vars.$white;
        
        border: none;
        border-radius: 24px;
        padding: 12px 53px;
        
        font-family: inherit;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.4430769979953766px;
        text-align: center;
            }
        }
      }
      
      .menu__item {
        display: block;
        cursor: pointer;
        margin-top: 32px;
        color: #555E68;
font-size: 24px;
font-weight: 500;
line-height: 33px;
letter-spacing: 0.9599999785423279px;
text-align: center;

      }

     
        #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
        }
        
    nav,
    .header__nav  {
      display: flex;
      list-style: none;
      font-size: 14px;
      justify-content: space-between;
    }
    nav {
      li {
        cursor: pointer;
        margin-right: 39px;
      }
    }
  
    button {
      cursor: pointer;
      font-size: inherit;
      background: none;
    }
  
    &__lang {
      display: flex;
    }
  
    &__lang button {
      margin-right: 12px;
      font-size: 16px;
  
      border: none;
    }
  
    &__lang .active {
      color: vars.$blue;
      text-decoration: underline;
    }
  
    &__connect {
      height: 48px;
      color: vars.$blue;
      border: vars.$blue 1px solid;
      border-radius: 24px;
      padding: 13px 28px;
    }
  
    @media (vars.$md) {
      nav,
      .header__lang,
      .header__connect {
        display: none;
      }
      .hamburger-menu {
        display: block;
      }
    }
  }